{% include 'header.html' %}
{% with messages= get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-danger" role="alert">
        <strong><h4>Recuerda diligenciar todos los datos</h4></strong>
    </div>
{% endif %}
{% endwith %}
<form action="/facturas/store" method="post">

    <div class="card">
        <div class="card-header">
           Clientes
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos del cliente</h5>
            <p class="card-text">
                <div class="form-group">
                    <label for="id_customertxt">id_customer:</label>
                    <select name="id_customertxt" id="id_customertxt">
                        {% for cliente in clientes %}
                        <option value="{{cliente[0]}}">{{cliente[1]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtPrecio">Precio:</label>
                    <input id="txtPrecio" class="form-control" type="text" name="txtPrecio">
                </div>
                <div class="form-group">
                    <label for="txtDetalle">Detalles:</label>
                    <input id="txtDetalle" class="form-control" type="text" name="txtDetalle">
                </div>
                <br>
                <input class="btn btn-success" type="submit" value="Agregar">
            </p>
        </div>
        <a  class= "btn btn-primary" href="{{url_for("index")}}" class="link">Regresar</a>
    </div>
</form>
{% include 'footer.html' %}