{% include 'header.html' %}
{% for factura in facturas %}
<form action="/facturas/update" method="post">

    <div class="card">
        <div class="card-header">
           Facturas
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos de Factura</h5>
            <p class="card-text">
                <div class="form-group">
                    <label for="id_facturatxt">Id_factura: {{factura[0]}}</label>
                    <input id="id_facturatxt" class="form-control" type="text" name="id_facturatxt" value="{{factura[0]}}" style="display: none;">
                </div>
                <div class="form-group">
                    <label for="id_customertxt">Id_cliente: {{factura[1]}}</label>
                    <input id="id_customertxt" class="form-control" type="text" name="id_customertxt" value="{{factura[1]}}" style="display: none;">
                </div>
                <div class="form-group">
                    <label for="txtPrecio">Precio:</label>
                    <input id="txtPrecio" class="form-control" type="text" name="txtPrecio" value="{{factura[2]}}">
                </div>
                <div class="form-group">
                    <label for="txtDetalle">Detalle:</label>
                    <input id="txtDetalle" class="form-control" type="text" name="txtDetalle" value="{{factura[3]}}">
                </div>
                <br>
                <input onclick="return confirm('¿va ejecutar estos cambios?')" class="btn btn-success" type="submit" value="Editar">
            </p>
        </div>
        <a  class= "btn btn-primary" href="/facturas" class="link">Regresar</a>
    </div>
</form>

{% endfor %}
{% include 'footer.html' %}
